<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>
    <link rel="stylesheet" href="{{url_for('static', filename='cadastro.css')}}">
</head>
<body>
    <nav>
        <div class="logo">CALENDARIO</div>
    </nav>

    <div class="caixa-cadastro">
        <h2>Cadastro</h2>

        <form class="formulario">
            <input class="email" type="text" placeholder="Email">
            <input class="usuario" type="text" placeholder="Usuario">
            <input class="senha" type="password" placeholder="Senha">
            <button class="submit" type="submit">SALVAR</button>
            <a href="/">Voltar</a>
        </form>
    </div>
    <script src="{{url_for('static', filename='cadastro.js')}}"></script>
    
</body>
</html>