<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
</head>
<body>
    <nav>
        <div class="logo">CALENDARIO</div>
    </nav>

    <div class="caixa-login">
        <h2>Login</h2>

        <form class="formulario-login">
            <input class="usuario" type="text" placeholder="Usuario">
            <input class="senha" type="password" placeholder="Senha">
            <button class="submit" type="submit">LOGIN</button>
            <a href="/cadastro">Fazer cadastro</a>
        </form>
    </div>

    <script src="{{url_for('static', filename='login.js')}}"></script>

</body>
</html>